In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
data_ori = pd.read_csv("data/total_data.csv")

In [3]:
data=data_ori.copy()
data=data.drop(axis=1, columns=['__'])
data.head()

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length
0,2022-12-16 17:08:57,52731042.0,jsh00325,14562.0,맞았습니다!!,2020.0,0.0,C++11,592.0
1,2022-12-16 15:28:07,52726708.0,teddybear1024,14562.0,맞았습니다!!,2024.0,0.0,C++17,875.0
2,2022-12-15 01:15:34,52680839.0,mujigae,14562.0,맞았습니다!!,2156.0,0.0,C++17,554.0
3,2022-12-12 15:23:46,52595252.0,wnsgml7267,14562.0,맞았습니다!!,34096.0,68.0,Python 3,420.0
4,2022-12-01 00:29:05,52271216.0,gustjs5419,14562.0,맞았습니다!!,2020.0,4.0,C++17,712.0

In [4]:
data.info(null_counts=True)

C:\Users\fjdks\AppData\Local\Temp\ipykernel_3380\4245659237.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22608670 entries, 0 to 22608669
Data columns (total 9 columns):
 #   Column        Non-Null Count     Dtype
---  ------        --------------     -----
 0   timestamp     21480108 non-null  object
 1   submit_id     21480108 non-null  float64
 2   user_id       21477963 non-null  object
 3   problem_id    21477969 non-null  float64
 4   result_state  21480108 non-null  object
 5   memory        8266306 non-null   float64
 6   running_time  8266306 non-null   float64
 7   language      21477969 non-null  object
 8   code_length   21472934 non-null  float64
dtypes: float64(5), object(4)
memory usage: 1.5+ GB

# problem id

In [5]:
print((data['problem_id'].isnull().sum() / len(data) )*100,'% 의 데이터 소실')

5.001183174419371 % 의 데이터 소실

In [6]:
data[data['problem_id'].isna()]

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22608570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22608590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22608610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22608630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22608650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
data=data[data['problem_id'].notna()]
data.info(null_counts=True)

C:\Users\fjdks\AppData\Local\Temp\ipykernel_20352\658676578.py:2: FutureWarning: null_counts is deprecated. Use show_counts instead
  data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21477969 entries, 0 to 22608669
Data columns (total 10 columns):
 #   Column        Non-Null Count     Dtype
---  ------        --------------     -----
 0   timestamp     21477969 non-null  object
 1   submit_id     21477969 non-null  float64
 2   user_id       21477963 non-null  object
 3   problem_id    21477969 non-null  float64
 4   result_state  21477969 non-null  object
 5   memory        8266306 non-null   float64
 6   running_time  8266306 non-null   float64
 7   language      21477969 non-null  object
 8   code_length   21472934 non-null  float64
 9   days          21477969 non-null  object
dtypes: float64(5), object(5)
memory usage: 1.8+ GB

# User Id

In [56]:
data[data['user_id'].isna()]

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,days
14282576,2014-08-29 20:33:20,310888.0,NaN,10211.0,맞았습니다!!,1984.0,8.0,C++98,515.0,8년 전
21248694,2017-09-13 10:20:26,6722584.0,NaN,1003.0,시간 초과,NaN,NaN,C99,492.0,5년 전
21248695,2017-09-13 10:18:14,6722577.0,NaN,1003.0,컴파일 에러,NaN,NaN,C++14,496.0,5년 전
21248696,2017-09-13 10:16:43,6722571.0,NaN,1003.0,컴파일 에러,NaN,NaN,C99,496.0,5년 전
21248697,2017-09-13 10:12:43,6722549.0,NaN,1003.0,컴파일 에러,NaN,NaN,C99,468.0,5년 전
21248698,2017-09-13 10:12:01,6722546.0,NaN,1003.0,컴파일 에러,NaN,NaN,C99,467.0,5년 전

In [57]:
data.loc[14282576,'user_id']='dividebyzer0'
data[data['user_id'].isna()]

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,days
21248694,2017-09-13 10:20:26,6722584.0,NaN,1003.0,시간 초과,NaN,NaN,C99,492.0,5년 전
21248695,2017-09-13 10:18:14,6722577.0,NaN,1003.0,컴파일 에러,NaN,NaN,C++14,496.0,5년 전
21248696,2017-09-13 10:16:43,6722571.0,NaN,1003.0,컴파일 에러,NaN,NaN,C99,496.0,5년 전
21248697,2017-09-13 10:12:43,6722549.0,NaN,1003.0,컴파일 에러,NaN,NaN,C99,468.0,5년 전
21248698,2017-09-13 10:12:01,6722546.0,NaN,1003.0,컴파일 에러,NaN,NaN,C99,467.0,5년 전

In [58]:
data[data['user_id'].isna()].index

Int64Index([21248694, 21248695, 21248696, 21248697, 21248698], dtype='int64')

In [59]:
for i in data[data['user_id'].isna()].index:
       data.loc[i,'user_id']='tptkddpdjqtsmsdkdlel' # 존재하지 않는 아이디로 일단 처리
data[data['user_id'].isna()]

Empty DataFrame
Columns: [timestamp, submit_id, user_id, problem_id, result_state, memory, running_time, language, code_length, days]
Index: []

In [60]:
labelEncoder=LabelEncoder()
labelEncoder.fit(data['user_id'])
data['user_id'] = labelEncoder.transform(data['user_id'])
data.head()

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,days
0,2022-12-16 17:08:57,52731042.0,83379,14562.0,맞았습니다!!,2020.0,0.0,C++11,592.0,8일 전
1,2022-12-16 15:28:07,52726708.0,161875,14562.0,맞았습니다!!,2024.0,0.0,C++17,875.0,8일 전
2,2022-12-15 01:15:34,52680839.0,116207,14562.0,맞았습니다!!,2156.0,0.0,C++17,554.0,9일 전
3,2022-12-12 15:23:46,52595252.0,177377,14562.0,맞았습니다!!,34096.0,68.0,Python 3,420.0,12일 전
4,2022-12-01 00:29:05,52271216.0,57062,14562.0,맞았습니다!!,2020.0,4.0,C++17,712.0,23일 전

# Memory & Running time

In [61]:
data['memory']=data['memory'].fillna(-1)
data['running_time']=data['running_time'].fillna(-1)

# Code Length

In [62]:
data[data['code_length'].isna()]

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,days
9159693,2022-12-20 23:57:32,52882065.0,126591,17106.0,맞았습니다!!,4528.0,0.0,Text,NaN,4일 전
9159694,2022-12-19 08:33:40,52809781.0,39823,17106.0,맞았습니다!!,4528.0,0.0,Text,NaN,5일 전
9159695,2022-12-19 08:32:12,52809772.0,39823,17106.0,틀렸습니다,-1.0,-1.0,Text,NaN,5일 전
9159696,2022-12-19 08:29:51,52809757.0,39823,17106.0,틀렸습니다,-1.0,-1.0,Text,NaN,5일 전
9159697,2022-12-19 08:29:13,52809755.0,39823,17106.0,틀렸습니다,-1.0,-1.0,Text,NaN,5일 전
...,...,...,...,...,...,...,...,...,...,...
14865354,2019-03-31 16:23:22,12492330.0,128715,17114.0,시간 초과,-1.0,-1.0,C++17,NaN,3년 전
14865355,2019-03-31 16:22:17,12492299.0,128715,17114.0,틀렸습니다,-1.0,-1.0,C++17,NaN,3년 전
14865356,2019-03-31 16:20:58,12492259.0,128715,17114.0,시간 초과,-1.0,-1.0,C++17,NaN,3년 전
14865357,2019-03-31 16:18:13,12492163.0,128715,17114.0,틀렸습니다,-1.0,-1.0,C++17,NaN,3년 전
14865358,2019-03-31 16:17:33,12492148.0,128715,17114.0,틀렸습니다,-1.0,-1.0,C++11,NaN,3년 전

In [63]:
data[(data['code_length'].isna()) & (data['language']!='Text')]

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,days
14863500,2022-12-23 04:00:21,52971063.0,103350,17114.0,맞았습니다!!,322416.0,696.0,C++17,NaN,2일 전
14863501,2022-12-23 03:26:06,52970721.0,103350,17114.0,틀렸습니다,-1.0,-1.0,C++17,NaN,2일 전
14863502,2022-12-22 13:15:17,52935820.0,167904,17114.0,맞았습니다!!,648004.0,2816.0,Java 8,NaN,2일 전
14863503,2022-12-22 00:16:19,52922580.0,167904,17114.0,맞았습니다!!,645844.0,2540.0,Java 8,NaN,3일 전
14863504,2022-12-21 23:51:48,52921629.0,167904,17114.0,시간 초과,-1.0,-1.0,Java 8,NaN,3일 전
...,...,...,...,...,...,...,...,...,...,...
14865354,2019-03-31 16:23:22,12492330.0,128715,17114.0,시간 초과,-1.0,-1.0,C++17,NaN,3년 전
14865355,2019-03-31 16:22:17,12492299.0,128715,17114.0,틀렸습니다,-1.0,-1.0,C++17,NaN,3년 전
14865356,2019-03-31 16:20:58,12492259.0,128715,17114.0,시간 초과,-1.0,-1.0,C++17,NaN,3년 전
14865357,2019-03-31 16:18:13,12492163.0,128715,17114.0,틀렸습니다,-1.0,-1.0,C++17,NaN,3년 전
14865358,2019-03-31 16:17:33,12492148.0,128715,17114.0,틀렸습니다,-1.0,-1.0,C++11,NaN,3년 전

In [64]:
data[data['language']!='Text']

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,days
0,2022-12-16 17:08:57,52731042.0,83379,14562.0,맞았습니다!!,2020.0,0.0,C++11,592.0,8일 전
1,2022-12-16 15:28:07,52726708.0,161875,14562.0,맞았습니다!!,2024.0,0.0,C++17,875.0,8일 전
2,2022-12-15 01:15:34,52680839.0,116207,14562.0,맞았습니다!!,2156.0,0.0,C++17,554.0,9일 전
3,2022-12-12 15:23:46,52595252.0,177377,14562.0,맞았습니다!!,34096.0,68.0,Python 3,420.0,12일 전
4,2022-12-01 00:29:05,52271216.0,57062,14562.0,맞았습니다!!,2020.0,4.0,C++17,712.0,23일 전
...,...,...,...,...,...,...,...,...,...,...
22608665,2014-09-15 00:31:26,323956.0,186714,10158.0,틀렸습니다,-1.0,-1.0,C99,476.0,8년 전
22608666,2014-09-15 00:27:45,323955.0,186714,10158.0,시간 초과,-1.0,-1.0,C99,476.0,8년 전
22608667,2014-09-15 00:21:24,323950.0,186714,10158.0,시간 초과,-1.0,-1.0,C99,369.0,8년 전
22608668,2014-09-14 23:48:00,323934.0,66516,10158.0,맞았습니다!!,1116.0,0.0,C++98,475.0,8년 전
22608669,2014-08-26 21:38:52,309007.0,143046,10158.0,맞았습니다!!,11324.0,4.0,D,269.0,8년 전

In [65]:
data['code_length']=data['code_length'].fillna(0)

In [66]:
data.info(null_counts=True)

C:\Users\fjdks\AppData\Local\Temp\ipykernel_20352\4245659237.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21477969 entries, 0 to 22608669
Data columns (total 10 columns):
 #   Column        Non-Null Count     Dtype
---  ------        --------------     -----
 0   timestamp     21477969 non-null  object
 1   submit_id     21477969 non-null  float64
 2   user_id       21477969 non-null  int32
 3   problem_id    21477969 non-null  float64
 4   result_state  21477969 non-null  object
 5   memory        21477969 non-null  float64
 6   running_time  21477969 non-null  float64
 7   language      21477969 non-null  object
 8   code_length   21477969 non-null  float64
 9   days          21477969 non-null  object
dtypes: float64(5), int32(1), object(4)
memory usage: 1.7+ GB

# Language

In [67]:
lans=data['language'].unique()
lans

array(['C++11', 'C++17', 'Python 3', 'Java 11', 'node.js', 'PyPy3',
       'C++14', 'C++20', 'C++20 (Clang)', 'Java 8', 'Swift', 'C++98',
       'Java 8 (OpenJDK)', 'Kotlin (JVM)', 'C2x', 'Java 15', 'C11', 'C99',
       'C++17 (Clang)', 'Rust 2021', 'Go', 'C#', 'TypeScript', 'Lua',
       'Golfscript', '아희', 'Rust 2018', 'Ruby', 'PHP', 'C++11 (Clang)',
       'C# 6.0 (Mono)', 'C++14 (Clang)', 'C++98 (Clang)', 'Python 2', 'D',
       'Scala', 'Text', 'F#', 'Rust 2015', 'C11 (Clang)', 'Go (gccgo)',
       'C90', 'OCaml', 'PyPy2', 'Kotlin (Native)', 'F# (Mono)',
       'C99 (Clang)', 'Assembly (32bit)', 'Cobra', 'Perl', 'Pascal',
       'D (LDC)', 'SpiderMonkey', 'Fortran', 'Scheme', 'C2x (Clang)',
       'Objective-C++', 'Befunge', 'Haskell', 'R', 'C# 3.0 (Mono)',
       'Ruby 1.9', 'Clojure', 'Ruby 1.8', 'Rhino', 'SystemVerilog', '엄준식',
       'VB.NET 4.0 (Mono)', 'VB.NET 2.0 (Mono)', 'awk',
       'Assembly (64bit)', 'Bash', 'Whitespace', 'Brainf**k', 'INTERCAL',
       'LOLCODE', 'Objective-C', 'Groovy', 'Tcl', 'Visual Basic',
       'C90 (Clang)', 'Pike', 'Octave', 'bc', 'Ada', 'Prolog', 'Haxe',
       'sed', 'Cobol', 'CoffeeScript', 'Falcon', 'Raku', 'Boo', 'Nemerle',
       'Nimrod', 'Forth', 'Io'], dtype=object)

In [68]:
data[data['language']=='엄준식']

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,days
458266,2022-02-11 06:04:28,38895861.0,169545,1111.0,틀렸습니다,-1.0,-1.0,엄준식,13039.0,10달 전
458268,2022-02-11 05:01:25,38895549.0,169545,1111.0,틀렸습니다,-1.0,-1.0,엄준식,12940.0,10달 전
458269,2022-02-11 04:55:18,38895502.0,169545,1111.0,틀렸습니다,-1.0,-1.0,엄준식,12941.0,10달 전
458270,2022-02-11 04:53:23,38895486.0,169545,1111.0,틀렸습니다,-1.0,-1.0,엄준식,12939.0,10달 전
458271,2022-02-11 04:49:48,38895459.0,169545,1111.0,틀렸습니다,-1.0,-1.0,엄준식,12940.0,10달 전
458272,2022-02-11 04:48:27,38895449.0,169545,1111.0,틀렸습니다,-1.0,-1.0,엄준식,12940.0,10달 전
458273,2022-02-11 04:30:11,38895317.0,169545,1111.0,틀렸습니다,-1.0,-1.0,엄준식,13359.0,10달 전
458274,2022-02-11 04:10:00,38895190.0,169545,1111.0,틀렸습니다,-1.0,-1.0,엄준식,12837.0,10달 전
458275,2022-02-11 04:06:49,38895166.0,169545,1111.0,틀렸습니다,-1.0,-1.0,엄준식,12876.0,10달 전
458276,2022-02-11 03:59:39,38895118.0,169545,1111.0,컴파일 에러,-1.0,-1.0,엄준식,12605.0,10달 전
458277,2022-02-11 03:54:20,38895090.0,169545,1111.0,컴파일 에러,-1.0,-1.0,엄준식,15732.0,10달 전
458278,2022-02-11 03:50:15,38895060.0,169545,1111.0,컴파일 에러,-1.0,-1.0,엄준식,17108.0,10달 전
458279,2022-02-11 03:27:12,38894822.0,169545,1111.0,컴파일 에러,-1.0,-1.0,엄준식,8214.0,10달 전
458280,2022-02-11 03:25:13,38894792.0,169545,1111.0,컴파일 에러,-1.0,-1.0,엄준식,8214.0,10달 전
458281,2022-02-11 02:24:59,38893742.0,169545,1111.0,틀렸습니다,-1.0,-1.0,엄준식,4906.0,10달 전
859394,2022-02-09 18:33:11,38816899.0,11874,9372.0,맞았습니다!!,4608.0,36.0,엄준식,231.0,10달 전
1180649,2022-06-15 17:06:12,44575811.0,125352,1927.0,컴파일 에러,-1.0,-1.0,엄준식,368.0,6달 전
3091817,2022-05-31 16:57:07,44002895.0,65910,1793.0,컴파일 에러,-1.0,-1.0,엄준식,332256.0,6달 전
3192382,2022-06-28 19:50:04,45157593.0,170791,9095.0,맞았습니다!!,4608.0,0.0,엄준식,675.0,5달 전
3192383,2022-06-28 19:48:11,45157495.0,170791,9095.0,틀렸습니다,-1.0,-1.0,엄준식,674.0,5달 전
3196704,2022-04-08 12:27:44,41682971.0,169514,9095.0,맞았습니다!!,4608.0,0.0,엄준식,770.0,8달 전
3891045,2022-06-30 15:11:55,45259252.0,74942,15649.0,틀렸습니다,-1.0,-1.0,엄준식,11572.0,5달 전
3902066,2022-02-05 20:46:08,38613830.0,183042,15649.0,컴파일 에러,-1.0,-1.0,엄준식,9.0,10달 전
3902067,2022-02-05 20:45:49,38613806.0,183042,15649.0,컴파일 에러,-1.0,-1.0,엄준식,9.0,10달 전
3902068,2022-02-05 20:44:33,38613731.0,183042,15649.0,컴파일 에러,-1.0,-1.0,엄준식,10.0,10달 전
7832103,2022-04-19 11:56:31,42163673.0,169514,11726.0,맞았습니다!!,4608.0,24.0,엄준식,746.0,8달 전
7959754,2022-02-06 16:19:08,38646624.0,63455,16680.0,틀렸습니다,-1.0,-1.0,엄준식,226.0,10달 전
7959755,2022-02-06 16:13:11,38646292.0,63455,16680.0,틀렸습니다,-1.0,-1.0,엄준식,188.0,10달 전
8701892,2022-04-30 18:57:59,42668448.0,54886,21757.0,컴파일 에러,-1.0,-1.0,엄준식,9.0,7달 전
13326202,2022-04-16 08:49:39,42037931.0,11874,15311.0,맞았습니다!!,4608.0,0.0,엄준식,320.0,8달 전
13326203,2022-04-16 08:48:56,42037924.0,11874,15311.0,맞았습니다!!,4608.0,0.0,엄준식,307.0,8달 전
13326204,2022-04-16 08:35:35,42037858.0,11874,15311.0,틀렸습니다,-1.0,-1.0,엄준식,308.0,8달 전
13326205,2022-04-16 08:34:20,42037853.0,11874,15311.0,틀렸습니다,-1.0,-1.0,엄준식,299.0,8달 전
13326206,2022-04-16 08:31:04,42037833.0,11874,15311.0,틀렸습니다,-1.0,-1.0,엄준식,315.0,8달 전
13326207,2022-04-16 08:15:26,42037788.0,11874,15311.0,틀렸습니다,-1.0,-1.0,엄준식,315.0,8달 전
13326208,2022-04-16 08:00:15,42037702.0,11874,15311.0,틀렸습니다,-1.0,-1.0,엄준식,316.0,8달 전
13326209,2022-04-16 07:54:52,42037684.0,11874,15311.0,틀렸습니다,-1.0,-1.0,엄준식,263.0,8달 전
13326287,2022-02-25 20:57:01,39613098.0,151089,15311.0,맞았습니다!!,4608.0,0.0,엄준식,306.0,9달 전
13326288,2022-02-21 23:26:04,39419610.0,46921,15311.0,맞았습니다!!,4724.0,0.0,엄준식,65074.0,10달 전
13326289,2022-02-21 23:19:08,39419064.0,46921,15311.0,맞았습니다!!,4676.0,0.0,엄준식,355274.0,10달 전
13326291,2022-02-21 23:15:48,39418817.0,46921,15311.0,출력 초과,-1.0,-1.0,엄준식,310.0,10달 전
13768142,2022-05-31 16:51:48,44002646.0,65910,2133.0,맞았습니다!!,4620.0,0.0,엄준식,4761.0,6달 전
13768143,2022-05-31 16:38:09,44001980.0,65910,2133.0,틀렸습니다,-1.0,-1.0,엄준식,4620.0,6달 전
13768144,2022-05-31 16:33:02,44001728.0,65910,2133.0,틀렸습니다,-1.0,-1.0,엄준식,5702.0,6달 전
15697960,2022-02-14 00:46:37,39026408.0,97208,9663.0,런타임 에러,-1.0,-1.0,엄준식,2296.0,10달 전
15697966,2022-02-14 00:36:18,39026045.0,97208,9663.0,런타임 에러,-1.0,-1.0,엄준식,2278.0,10달 전
15697967,2022-02-14 00:33:51,39025956.0,97208,9663.0,런타임 에러,-1.0,-1.0,엄준식,2278.0,10달 전
15697968,2022-02-14 00:32:27,39025900.0,97208,9663.0,런타임 에러,-1.0,-1.0,엄준식,2278.0,10달 전
17188769,2022-06-28 19:36:59,45156889.0,170791,2839.0,맞았습니다!!,4608.0,0.0,엄준식,583.0,5달 전
17202864,2022-04-08 10:32:22,41678543.0,169514,2839.0,맞았습니다!!,4608.0,0.0,엄준식,1084.0,8달 전
17213844,2022-02-14 16:32:59,39050534.0,169545,2839.0,맞았습니다!!,4608.0,0.0,엄준식,1068.0,10달 전
17214645,2022-02-10 15:15:01,38857622.0,46921,2839.0,맞았습니다!!,4628.0,0.0,엄준식,15914.0,10달 전
17720532,2022-05-31 17:08:00,44003421.0,65910,9461.0,컴파일 에러,-1.0,-1.0,엄준식,47941.0,6달 전
18864468,2022-06-30 15:10:04,45259142.0,170791,2023.0,메모리 초과,-1.0,-1.0,엄준식,11572.0,5달 전
18864469,2022-06-30 15:08:40,45259053.0,170791,2023.0,메모리 초과,-1.0,-1.0,엄준식,11562.0,5달 전
20629997,2022-02-12 21:19:46,38971845.0,46921,12095.0,348693점,4608.0,0.0,엄준식,7473.0,10달 전
20629999,2022-02-12 21:02:58,38971109.0,46921,12095.0,392점,4608.0,0.0,엄준식,7357.0,10달 전
20630000,2022-02-12 15:54:51,38957325.0,169545,12095.0,214992점,4608.0,0.0,엄준식,7542.0,10달 전

In [69]:
data['language'].value_counts()

C++17           4419950
C++14           4260242
Python 3        4102681
Java 8          2220866
Java 11         1646710
                 ...
CoffeeScript          1
Falcon                1
Nemerle               1
Nimrod                1
Forth                 1
Name: language, Length: 97, dtype: int64

In [70]:
labelEncoder=LabelEncoder()
labelEncoder.fit(data['language'])
data['language'] = labelEncoder.transform(data['language'])
data.head()

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,days
0,2022-12-16 17:08:57,52731042.0,83379,14562.0,맞았습니다!!,2020.0,0.0,10,592.0,8일 전
1,2022-12-16 15:28:07,52726708.0,161875,14562.0,맞았습니다!!,2024.0,0.0,14,875.0,8일 전
2,2022-12-15 01:15:34,52680839.0,116207,14562.0,맞았습니다!!,2156.0,0.0,14,554.0,9일 전
3,2022-12-12 15:23:46,52595252.0,177377,14562.0,맞았습니다!!,34096.0,68.0,69,420.0,12일 전
4,2022-12-01 00:29:05,52271216.0,57062,14562.0,맞았습니다!!,2020.0,4.0,14,712.0,23일 전

# 형변환

In [71]:
data['submit_id'] = data['submit_id'].astype('int')
data['problem_id'] = data['problem_id'].astype('int')
data['memory'] = data['memory'].astype('int')
data['running_time'] = data['running_time'].astype('int')
data['code_length'] = data['code_length'].astype('int')

# result_state

In [25]:
data['result_state'].unique()

array(['맞았습니다!!', '메모리 초과', '런타임 에러\xa0(FileNotFoundError)', ...,
       '2147483647점', '580245801점', '123456789점'], dtype=object)

In [73]:
data.loc[data['result_state'].str.startswith('맞았습니다!!\xa0')]

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,days
1376198,2022-12-22 20:50:05,52956836,144121,20168,맞았습니다!! (13/18),2456,0,18,1105,2일 전
1376201,2022-12-22 20:45:31,52956679,144121,20168,맞았습니다!! (17/18),2024,0,18,1138,2일 전
1376202,2022-12-22 20:45:11,52956666,144121,20168,맞았습니다!! (17/18),2024,0,18,1138,2일 전
1376203,2022-12-22 20:44:46,52956653,144121,20168,맞았습니다!! (17/18),2024,0,18,1138,2일 전
1376205,2022-12-22 20:42:19,52956530,144121,20168,맞았습니다!! (17/18),2024,0,18,1138,2일 전
...,...,...,...,...,...,...,...,...,...,...
20426067,2020-11-17 19:46:56,23907785,153814,20164,맞았습니다!! (102/102),79352,0,10,1782,2년 전
20426068,2020-11-17 19:41:43,23907684,151094,20164,맞았습니다!! (102/102),2156,0,14,1179,2년 전
20426069,2020-11-17 19:36:50,23907582,40985,20164,맞았습니다!! (102/102),2016,0,14,1580,2년 전
20426070,2020-11-17 19:34:48,23907548,46998,20164,맞았습니다!! (102/102),2024,0,12,1580,2년 전
20426071,2020-11-17 19:34:20,23907536,143887,20164,맞았습니다!! (102/102),2024,0,14,1406,2년 전

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,days
1376198,2022-12-22 20:50:05,52956836,144121,20168,맞았습니다!! (13/18),2456,0,18,1105,2일 전
1376201,2022-12-22 20:45:31,52956679,144121,20168,맞았습니다!! (17/18),2024,0,18,1138,2일 전
1376202,2022-12-22 20:45:11,52956666,144121,20168,맞았습니다!! (17/18),2024,0,18,1138,2일 전
1376203,2022-12-22 20:44:46,52956653,144121,20168,맞았습니다!! (17/18),2024,0,18,1138,2일 전
1376205,2022-12-22 20:42:19,52956530,144121,20168,맞았습니다!! (17/18),2024,0,18,1138,2일 전
...,...,...,...,...,...,...,...,...,...,...
20426067,2020-11-17 19:46:56,23907785,153814,20164,맞았습니다!! (102/102),79352,0,10,1782,2년 전
20426068,2020-11-17 19:41:43,23907684,151094,20164,맞았습니다!! (102/102),2156,0,14,1179,2년 전
20426069,2020-11-17 19:36:50,23907582,40985,20164,맞았습니다!! (102/102),2016,0,14,1580,2년 전
20426070,2020-11-17 19:34:48,23907548,46998,20164,맞았습니다!! (102/102),2024,0,12,1580,2년 전
20426071,2020-11-17 19:34:20,23907536,143887,20164,맞았습니다!! (102/102),2024,0,14,1406,2년 전

In [77]:
data.loc[data['result_state'].str.startswith('맞았습니다!!\xa0'),'result_state']=data.loc[data['result_state'].str.startswith('맞았습니다!!\xa0'),'result_state'].apply(lambda x:'맞았습니다!!' if x.split('\xa0')[1][1:-1].split('/')[0] == x.split('\xa0')[1][1:-1].split('/')[1] else '틀렸습니다' )

In [78]:
data.loc[data['result_state'].str.startswith('맞았습니다!!\xa0')]

Empty DataFrame
Columns: [timestamp, submit_id, user_id, problem_id, result_state, memory, running_time, language, code_length, days]
Index: []

Well done

In [79]:
data['result_state'].unique()

array(['맞았습니다!!', '메모리 초과', '런타임 에러\xa0(FileNotFoundError)', ...,
       '2147483647점', '580245801점', '123456789점'], dtype=object)

In [83]:
del data_ori

In [ ]:
data['result_state'] = data['result_state'].apply(lambda x: '맞았습니다!!' if x.endswith('점') and float(x[:-1]) >= 100 else x)
data['result_state'] = data['result_state'].apply(lambda x: '틀렸습니다' if x.endswith('점') and float(x[:-1]) < 100 else x)
data['result_state'] = data['result_state'].apply(lambda x: '런타임 에러' if x.startswith('런타임') else x)

data = data.loc[~data['result_state'].isin(['채점 불가', '채점 준비 중', '채점 중', '삭제된 제출'])]

In [ ]:
data['result_state'].unique()

In [86]:
data=data.drop(axis=1, columns=['days'])

# User Item Interaction

In [ ]:
user2idx={}
idx2user={}
data


prob2idx={}
idx2prob={}