In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data/total_data.csv")
data.head()

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,__
0,2022-12-16 17:08:57,52731042.0,jsh00325,14562.0,맞았습니다!!,2020.0,0.0,C++11,592.0,8일 전
1,2022-12-16 15:28:07,52726708.0,teddybear1024,14562.0,맞았습니다!!,2024.0,0.0,C++17,875.0,8일 전
2,2022-12-15 01:15:34,52680839.0,mujigae,14562.0,맞았습니다!!,2156.0,0.0,C++17,554.0,9일 전
3,2022-12-12 15:23:46,52595252.0,wnsgml7267,14562.0,맞았습니다!!,34096.0,68.0,Python 3,420.0,12일 전
4,2022-12-01 00:29:05,52271216.0,gustjs5419,14562.0,맞았습니다!!,2020.0,4.0,C++17,712.0,23일 전

In [3]:
data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22608670 entries, 0 to 22608669
Data columns (total 10 columns):
 #   Column        Dtype
---  ------        -----
 0   timestamp     object
 1   submit_id     float64
 2   user_id       object
 3   problem_id    float64
 4   result_state  object
 5   memory        float64
 6   running_time  float64
 7   language      object
 8   code_length   float64
 9   __            object
dtypes: float64(5), object(5)
memory usage: 1.7+ GB

In [10]:
print((data['problem_id'].isnull().sum() / len(data) )*100,'% 의 데이터 소실')

5.001183174419371 % 의 데이터 소실

In [11]:
data[data['problem_id'].isna()]

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,__
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
22608570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22608590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22608610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22608630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22608650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data=data[data['problem_id'].notna()]
data.info(null_counts=True)

C:\Users\fjdks\AppData\Local\Temp\ipykernel_22068\658676578.py:2: FutureWarning: null_counts is deprecated. Use show_counts instead
  data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21477969 entries, 0 to 22608669
Data columns (total 10 columns):
 #   Column        Non-Null Count     Dtype
---  ------        --------------     -----
 0   timestamp     21477969 non-null  object
 1   submit_id     21477969 non-null  float64
 2   user_id       21477963 non-null  object
 3   problem_id    21477969 non-null  float64
 4   result_state  21477969 non-null  object
 5   memory        8266306 non-null   float64
 6   running_time  8266306 non-null   float64
 7   language      21477969 non-null  object
 8   code_length   21472934 non-null  float64
 9   __            21477969 non-null  object
dtypes: float64(5), object(5)
memory usage: 1.8+ GB

In [13]:
data[data['user_id'].isna()]

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,__
14282576,2014-08-29 20:33:20,310888.0,NaN,10211.0,맞았습니다!!,1984.0,8.0,C++98,515.0,8년 전
21248694,2017-09-13 10:20:26,6722584.0,NaN,1003.0,시간 초과,NaN,NaN,C99,492.0,5년 전
21248695,2017-09-13 10:18:14,6722577.0,NaN,1003.0,컴파일 에러,NaN,NaN,C++14,496.0,5년 전
21248696,2017-09-13 10:16:43,6722571.0,NaN,1003.0,컴파일 에러,NaN,NaN,C99,496.0,5년 전
21248697,2017-09-13 10:12:43,6722549.0,NaN,1003.0,컴파일 에러,NaN,NaN,C99,468.0,5년 전
21248698,2017-09-13 10:12:01,6722546.0,NaN,1003.0,컴파일 에러,NaN,NaN,C99,467.0,5년 전

In [14]:
data=data[data['user_id'].notna()]

In [21]:
data['memory']=data['memory'].fillna(0)
data['running_time']=data['running_time'].fillna(0)

In [15]:
data[data['code_length'].isna()]

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,__
9159693,2022-12-20 23:57:32,52882065.0,piattola,17106.0,맞았습니다!!,4528.0,0.0,Text,NaN,4일 전
9159694,2022-12-19 08:33:40,52809781.0,dopppp,17106.0,맞았습니다!!,4528.0,0.0,Text,NaN,5일 전
9159695,2022-12-19 08:32:12,52809772.0,dopppp,17106.0,틀렸습니다,NaN,NaN,Text,NaN,5일 전
9159696,2022-12-19 08:29:51,52809757.0,dopppp,17106.0,틀렸습니다,NaN,NaN,Text,NaN,5일 전
9159697,2022-12-19 08:29:13,52809755.0,dopppp,17106.0,틀렸습니다,NaN,NaN,Text,NaN,5일 전
...,...,...,...,...,...,...,...,...,...,...
14865354,2019-03-31 16:23:22,12492330.0,portableangel,17114.0,시간 초과,NaN,NaN,C++17,NaN,3년 전
14865355,2019-03-31 16:22:17,12492299.0,portableangel,17114.0,틀렸습니다,NaN,NaN,C++17,NaN,3년 전
14865356,2019-03-31 16:20:58,12492259.0,portableangel,17114.0,시간 초과,NaN,NaN,C++17,NaN,3년 전
14865357,2019-03-31 16:18:13,12492163.0,portableangel,17114.0,틀렸습니다,NaN,NaN,C++17,NaN,3년 전
14865358,2019-03-31 16:17:33,12492148.0,portableangel,17114.0,틀렸습니다,NaN,NaN,C++11,NaN,3년 전

In [18]:
data[(data['code_length'].isna()) & (data['language']!='Text')]

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,__
14863500,2022-12-23 04:00:21,52971063.0,leeyuh0,17114.0,맞았습니다!!,322416.0,696.0,C++17,NaN,2일 전
14863501,2022-12-23 03:26:06,52970721.0,leeyuh0,17114.0,틀렸습니다,NaN,NaN,C++17,NaN,2일 전
14863502,2022-12-22 13:15:17,52935820.0,traceoflight,17114.0,맞았습니다!!,648004.0,2816.0,Java 8,NaN,2일 전
14863503,2022-12-22 00:16:19,52922580.0,traceoflight,17114.0,맞았습니다!!,645844.0,2540.0,Java 8,NaN,3일 전
14863504,2022-12-21 23:51:48,52921629.0,traceoflight,17114.0,시간 초과,NaN,NaN,Java 8,NaN,3일 전
...,...,...,...,...,...,...,...,...,...,...
14865354,2019-03-31 16:23:22,12492330.0,portableangel,17114.0,시간 초과,NaN,NaN,C++17,NaN,3년 전
14865355,2019-03-31 16:22:17,12492299.0,portableangel,17114.0,틀렸습니다,NaN,NaN,C++17,NaN,3년 전
14865356,2019-03-31 16:20:58,12492259.0,portableangel,17114.0,시간 초과,NaN,NaN,C++17,NaN,3년 전
14865357,2019-03-31 16:18:13,12492163.0,portableangel,17114.0,틀렸습니다,NaN,NaN,C++17,NaN,3년 전
14865358,2019-03-31 16:17:33,12492148.0,portableangel,17114.0,틀렸습니다,NaN,NaN,C++11,NaN,3년 전

In [17]:
data[data['language']!='Text']

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,__
0,2022-12-16 17:08:57,52731042.0,jsh00325,14562.0,맞았습니다!!,2020.0,0.0,C++11,592.0,8일 전
1,2022-12-16 15:28:07,52726708.0,teddybear1024,14562.0,맞았습니다!!,2024.0,0.0,C++17,875.0,8일 전
2,2022-12-15 01:15:34,52680839.0,mujigae,14562.0,맞았습니다!!,2156.0,0.0,C++17,554.0,9일 전
3,2022-12-12 15:23:46,52595252.0,wnsgml7267,14562.0,맞았습니다!!,34096.0,68.0,Python 3,420.0,12일 전
4,2022-12-01 00:29:05,52271216.0,gustjs5419,14562.0,맞았습니다!!,2020.0,4.0,C++17,712.0,23일 전
...,...,...,...,...,...,...,...,...,...,...
22608665,2014-09-15 00:31:26,323956.0,yukariko,10158.0,틀렸습니다,NaN,NaN,C99,476.0,8년 전
22608666,2014-09-15 00:27:45,323955.0,yukariko,10158.0,시간 초과,NaN,NaN,C99,476.0,8년 전
22608667,2014-09-15 00:21:24,323950.0,yukariko,10158.0,시간 초과,NaN,NaN,C99,369.0,8년 전
22608668,2014-09-14 23:48:00,323934.0,hujub,10158.0,맞았습니다!!,1116.0,0.0,C++98,475.0,8년 전
22608669,2014-08-26 21:38:52,309007.0,sbjwin,10158.0,맞았습니다!!,11324.0,4.0,D,269.0,8년 전

In [19]:
data['code_length']=data['code_length'].fillna(0)

In [22]:
data.info(null_counts=True)

C:\Users\fjdks\AppData\Local\Temp\ipykernel_22068\4245659237.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21477963 entries, 0 to 22608669
Data columns (total 10 columns):
 #   Column        Non-Null Count     Dtype
---  ------        --------------     -----
 0   timestamp     21477963 non-null  object
 1   submit_id     21477963 non-null  float64
 2   user_id       21477963 non-null  object
 3   problem_id    21477963 non-null  float64
 4   result_state  21477963 non-null  object
 5   memory        21477963 non-null  float64
 6   running_time  21477963 non-null  float64
 7   language      21477963 non-null  object
 8   code_length   21477963 non-null  float64
 9   __            21477963 non-null  object
dtypes: float64(5), object(5)
memory usage: 1.8+ GB

In [23]:
data['submit_id'] = data['submit_id'].astype('int')
data['problem_id'] = data['problem_id'].astype('int')
data['memory'] = data['memory'].astype('int')
data['running_time'] = data['running_time'].astype('int')
data['code_length'] = data['code_length'].astype('int')

In [24]:
data.head()

,timestamp,submit_id,user_id,problem_id,result_state,memory,running_time,language,code_length,__
0,2022-12-16 17:08:57,52731042,jsh00325,14562,맞았습니다!!,2020,0,C++11,592,8일 전
1,2022-12-16 15:28:07,52726708,teddybear1024,14562,맞았습니다!!,2024,0,C++17,875,8일 전
2,2022-12-15 01:15:34,52680839,mujigae,14562,맞았습니다!!,2156,0,C++17,554,9일 전
3,2022-12-12 15:23:46,52595252,wnsgml7267,14562,맞았습니다!!,34096,68,Python 3,420,12일 전
4,2022-12-01 00:29:05,52271216,gustjs5419,14562,맞았습니다!!,2020,4,C++17,712,23일 전